{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% addtoblock "css" %}
    <link href="/static/css/app.css" rel="stylesheet" media="screen" type="text/css">
	<script src="/static/bower_components/modernizr/modernizr.js"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
	<script type="text/javascript">window.jQuery || document.write('<script src="/static/bower_components/foundation/js/vendor/jquery.min.js"><\/script>')</script>
	<script type="text/javascript" src="/static/bower_components/foundation/js/foundation.min.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
{% endaddtoblock %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}Website Title{% endblock title %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- Required CSS & JavaScript -->
	{% render_block "css" %}
</head>

<body>
	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	{% cms_toolbar %}

	<!-- HEADER -->
	<header>

	</header>

	<!-- NAVIGATION -->
	<div id="nav-container" class="fixed contain-to-grid">
		<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
			<ul class="title-area">
			    <li class="name">
			    	<h1><a href="/">@menu</a></h1>
			    </li>
    			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  			</ul>

			<section class="top-bar-section">	
				<ul class="left">
					<li class="{% if current_page.is_home %} active{% endif %}">
						<a href="/"><i class="fa fa-home"></i> Home</a>
					</li>
					{% show_menu 0 1 100 100 "menu.html" %}
				</ul>
			</section>
		</nav>
	</div>

	<!-- PAGE CONTENT -->
	<div id="page-content">
		{% block content %}
        {% endblock content %}
	</div>

		<!-- FOOTER -->
	<footer>
		<p>
		{% placeholder footer %}
		</p>
	</footer>


	<!-- Application JavaScript -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	{% render_block "js" %}
</body>
</html>